.description {
  flex: 1 1 400px;
  border: 1px solid green;
  min-width: 280px;
}

.result {
  flex: 1 1 400px;
  border: 1px solid green;
  min-width: 280px;
}

.code {
  flex: 1 1 100%;
  border: 1px solid green;
}
