.footer {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  border: 1px solid rgba(108, 212, 173, .5);
}
.contact {
  & > address {
    font-style: normal;
  }
}
.link {
  transition: 0.3s ease-in-out;
}
.link:hover {
  text-decoration: underline;
}
